plugins/
target/
*.orig
*.bak
.idea/
*.iml
*.suo
obj/
*.csproj.user
*.vbproj.user
*~
**/target
**/**/workspace.xml
*.swp
*.com
*.class
*.dll
*.exe
*.o
*.pdb
*.so
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
**/.irb-history
**/.idea
**/.yardoc
InternationalTripPlanningSystemTests/doc
**/screenshot-*
.classpath
.project
**/out
build/
logs/
properties/
.gradle/
temp/
.asscache
node_modules
src/main/webapp/dist
.tmp/concat/scripts/main.js
.tmp/concat/scripts/vendor.js
target/
terget/**
*.project
.asscache
.settings/
.slcache/
images/profileImages
web-app/images/profileImages