<div>
    <header></header>
    <div class="container">
        <div class="jumbotron central" style="background-color:white;">
            <h2> Select Language</h2>
            <br>
            <!-- <h4>Enter at least one search criteria</h4><br><br>  -->
            <div class="row">
                <form name="langForm" class="row" style="text-align:center; vertical-align:middle;">
                    <p>
                        <button type="button" class="btn btn-primary btn-lg btn-space btn-fatty" id="English" name="enlangRef" ng-click="saveLanguagePref('en')">English</button>
                        <button type="button" class="btn btn-primary btn-lg btn-space btn-fatty" id="Espanol" name="eslangRef" ng-click="saveLanguagePref('es')">En Espa&ntilde;ol</button>
                    </p>
                </form>
            </div>
            <br><br>
            <div class="text-center inline">
                <p>
                    <a ui-sref="assessment_demographics()" class="btn btn-xl btn-primary" style="background-color:#133B63; color:white;">Begin</a>
                    <a href="#/neworoldcase" class="btn btn-xl btn-default">Cancel</a>
                </p>
            </div>
        </div>
    </div>
</div>